<div class="container">
    <div class="workspace-div">
            <div class="workspace-for" *ngFor="let workspaceid of workspaceIds; index as i">
                <app-workspace [workspaceId]="workspaceid"  [ngStyle]="{ 'visibility': showWorkspace && isWorkspaceWorking ? 'visible' : 'hidden' }">
                    <div class="workspace" id="workspace" [ngStyle]="{ 'height': bigSize ? '100%' : '70%' }" [attr.key]="keyForRefresh">
                        <div data-id="{{workspaceid}}" [attr.data-workspace]="workspaceId"></div>
                    </div>
                </app-workspace>
            </div>
    </div>
    <div class="aside">
        <div>
            <div class="title">Workspace Management</div>
            <app-workspace-form *ngIf="!isWorkspaceWorking" (dataEvent)="createWorkspace($event)">
                <button class="btn-1" type="submit" [disabled]="isWorkspaceWorking">Create Workspace</button>
            </app-workspace-form>
            <div *ngIf="isWorkspaceWorking" class="workspace-ids">
                <div *ngFor="let workspace of workspaceIds">
                    <button (click)="setCurrentWorkspace(workspace)">{{workspace}}</button>
                </div>
            </div>
            <div class="buttons">
                <div class="workspace-btns">
                    <button class="btn-2" (click)="removeWorkspace()" [disabled]="!isWorkspaceWorking">Remove Workspace</button>
                    <button class="btn-3" (click)="destroyWorkspace()" [disabled]="!isWorkspaceWorking || !showWorkspace">Hide Workspace</button>
                    <button class="btn-4" (click)="renderWorkspace()" [disabled]="!isWorkspaceWorking || showWorkspace">Show Workspace</button>
                    <button class="btn-5" (click)="resize()" [disabled]="!isWorkspaceWorking || !showWorkspace">Resize </button>
                </div>
                <div class="aside-modal">
                    <button (click)="displayModal()" class="btn-modal" [disabled]="!isWorkspaceWorking">Open in modal</button>
                    <app-modal *ngIf="showModal" [workspaceId]="workspaceId" [key]="keyForRefresh">
                        <div class="modal-close-btn" #modalDiv>
                            <button (click)="displayModal()">Close modal</button>
                        </div>
                    </app-modal>
                </div>
            </div>
        </div>
        <div class="events-form">
            <div class="title">Events</div>
            <select [(ngModel)]="event" [disabled]="!isWorkspaceWorking || subscribed">
                <option value="" disabled>-Chose event-</option>
                <option *ngFor="let event of events" [value]="event">
                    {{ event }}
            </select>
            <button class="btn-sub" (click)="subscribeEvent()" [disabled]="!isWorkspaceWorking || event==='' || subscribed">Subscribe</button>
            <button class="btn-sub" (click)="unsubscribeEvent()" [disabled]="!isWorkspaceWorking || event==='' || !subscribed">Unsubscribe</button>
            <div class="title">Event Result</div>
            <textarea class="event-response" id="event-response" disabled [value]="eventResponse"></textarea>
        </div>
    </div>
</div>