html, body {
    margin: 0;
    padding: 0;
    // overflow: hidden;

}

app-modal {
    z-index: 99;
    background-color: rgba(0,0,0,1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .dialog-content {
        background-color: white;
        width: 100vw;
        height: 80vh;
    }
    lib-workspace-se{
        .workspace {
            height: 70vh !important;
        }
    }
    .modal-close-btn {
        position: absolute;
        bottom: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}