<div class="aside">
    <div>
        <div>Workspace Management</div>
        <div>
            <input type="text" placeholder="access token..." [(ngModel)]="accessToken" />
            <button (click)="saveToken()">Save Access Token</button>
            <div *ngIf="tokenErrorMsg!==''">{{tokenErrorMsg}}</div>
        </div>
        <hr/>
        <input type="text" placeholder="project id..." [(ngModel)]="projectId" />
        <div>
            <button (click)="createWorkspace()" [disabled]="!isToken">Create Workspace</button>
            <button (click)="removeWorkspace()" [disabled]="!isToken || !isWorkspaceWorking">Remove Workspace</button>
            <button (click)="destroyWorkspace()" [disabled]="!isToken || !isWorkspaceWorking">Destroy Workspace</button>
            <button (click)="renderWorkspace()" [disabled]="!isToken || !isWorkspaceWorking">Render Workspace</button>
        </div>
    </div>
    <div>
        <div>Events</div>
        <select [(ngModel)]="event" [disabled]="!isToken || !isWorkspaceWorking || subscribed">
            <option value="" disabled>-Choose event-</option>
            <option *ngFor="let event of events" [value]="event">
                {{ event }}
        </select>
        <button (click)="subscribeEvent()" [disabled]="!isToken || !isWorkspaceWorking || event==='' || subscribed">Subscribe</button>
        <button (click)="unsubscribeEvent()" [disabled]="!isToken || !isWorkspaceWorking || event==='' || !subscribed">Unsubscribe</button>
        <div>Event Result</div>
        <textarea class="event-response" id="event-response" disabled [value]="eventResponse"></textarea>
    </div>
</div>
